[Desktop Entry]
Encoding=UTF-8
Name=Club
Comment=Club P2P Cryptocurrency
Comment[fr]=Club, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Club, eşten eşe kriptografik sanal para birimi
Exec=pivx-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/pivx;
Categories=Office;Finance;
